<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang tài khoản đã xoá</h1>
      </div>
      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Tìm kiếm..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <p>
      <a routerLink="/admin/user">Trang tài khoản</a>
    </p>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-striped" id="table-product">
        <thead>
          <tr>
            <th scope="col">Tên tài khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="users$ | async as users">
          <ng-container *ngIf="users.length; else noUser">
            <tr *ngFor="let item of users">
              <td>{{ item.username }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#restoreUserModal"
                  (click)="handleRestoreUser(item._id)"
                >
                  Khôi phục
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteUserModal"
                  (click)="handleDestroyUser(item._id)"
                >
                  Xoá vĩnh viễn
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</app-admin-common>

<app-modal
  #restoreModal
  [modalId]="'restoreUserModal'"
  [title]="'Restore modal'"
>
  <p>Xác nhận khôi phục tài khoản này</p>
</app-modal>

<app-modal #deleteModal [modalId]="'deleteUserModal'" [title]="'Delete modal'">
  <p>Bạn muốn xoá vĩnh viễn tài khoản này?</p>
</app-modal>

<ng-template #noUser>
  <tr>
    <td colspan="8">No user to display!</td>
  </tr>
</ng-template>
