<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a class="text-decoration-none" routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Shopping Cart</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0" id="table-cart">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle" *ngIf="productsList$?.length; else empty">
          <tr *ngFor="let item of productsList$; index as i; trackBy: identify">
            <td class="align-middle">
              <a
                class="text-decoration-none"
                routerLink="/products/detail/{{ item._id }}"
                >{{ item.name }}</a
              >
            </td>
            <td class="align-middle">
              <img
                src="{{ item.thumb.fileName }}"
                alt="{{ item.name }}"
                height="80"
              />
            </td>
            <td [appFormat]="item" class="align-middle"></td>
            <td class="align-middle">
              <div class="input-group quantity mx-auto" style="width: 100px">
                <div class="input-group-btn">
                  <button
                    class="btn btn-sm btn-primary"
                    (click)="changeSubtotal(item, i, 'DECREMENT')"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm bg-secondary text-center"
                  value="{{ item.quantityBuy }}"
                  name="quantity"
                />
                <div class="input-group-btn">
                  <button
                    class="btn btn-sm btn-primary"
                    (click)="changeSubtotal(item, i, 'INCREMENT')"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            <td
              style="min-width: 150px"
              class="align-middle"
              #subTotal
              [appFormatV2]="item"
            ></td>
            <td class="align-middle">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#removeItem"
                (click)="setProductID(item._id)"
              >
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control p-4"
            placeholder="Coupon Code"
          />
          <div class="input-group-append">
            <button
              [disabled]="productsList$?.length === 0"
              class="btn btn-primary"
            >
              Apply Coupon
            </button>
          </div>
        </div>
      </form>
      <div id="coupon-list" class="d-flex mb-3"></div>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">
              {{ subTotal | currency : "VND" }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">
              {{ shipCost | currency : "VND" }}
            </h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">{{ total | currency : "VND" }}</h5>
          </div>
          <button
            class="btn btn-block btn-primary my-3 py-3"
            routerLink="/checkout"
            [disabled]="productsList$?.length === 0"
          >
            Proceed To Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->

<ng-template #empty>
  <tr>
    <td colspan="6">
      No product in cart!! <a routerLink="/products">Buy now</a>
    </td>
  </tr>
</ng-template>

<app-modal #modal [title]="'Remove item? Please confirm here?'">
  <p>Item will be remove from cart. Continue?</p>
</app-modal>
