<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang danh mục</h1>
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#createCategoryModal"
        >
          Tạo mới
        </button>
      </div>

      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-striped" id="table-product">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cataglogs$ | async">
            <td>{{ item._id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="editCategory(item._id)"
                data-bs-toggle="modal"
                data-bs-target="#editCategoryModal"
              >
                Chỉnh sửa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-admin-common>

<app-modal
  [modalId]="'createCategoryModal'"
  [title]="'Tạo danh mục'"
  [showButton]="false"
>
  <form
    class="w-100"
    novalidate
    [formGroup]="formCatalog"
    (ngSubmit)="handleSubmit()"
  >
    <div class="mb-3">
      <app-input
        [placeholder]="'Enter value here...'"
        [htmlFor]="'title'"
        [label]="'Category name'"
        [control]="formCatalog.controls.title"
      ></app-input>
    </div>
    <button
      type="submit"
      [disabled]="formCatalog.invalid"
      class="btn btn-primary"
    >
      Save
    </button>
  </form>
</app-modal>

<app-modal
  [modalId]="'editCategoryModal'"
  [title]="'Sửa danh mục'"
  [showButton]="false"
  [isEdit]="true"
  #editModal
>
  <form
    class="w-100"
    novalidate
    [formGroup]="formCatalogV2"
    (ngSubmit)="handleSubmitEdit()"
  >
    <div class="mb-3" *ngIf="cataglog$ | async as item">
      <app-input
        [placeholder]="'Enter value here...'"
        [htmlFor]="'title'"
        [label]="'Tên danh mục'"
        [control]="formCatalogV2.controls.title"
      ></app-input>
    </div>
    <button
      type="submit"
      [disabled]="formCatalogV2.invalid"
      class="btn btn-primary"
    >
      Save
    </button>
  </form>
</app-modal>
