<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <h3 class="py-2">Info Account</h3>
      <app-account-sidebar></app-account-sidebar>
    </div>
    <div class="col-lg-9">
      <div class="mt-2">
        <form
          class="d-flex align-items-start justify-content-between"
          *ngIf="user$ | async as user"
        >
          <div class="w-50">
            <img
              [src]="user.imageUrl.fileName"
              class="img-thumbnail rounded-circle"
              style="width: 300px; height: 300px; object-fit: cover"
              alt="{{ user.fullname }}"
            />
          </div>
          <div class="w-50">
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                name="fullname"
                readonly
                value="{{ user.fullname }}"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                readonly
                value="{{ user.username }}"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                readonly
                value="{{ user.email }}"
              />
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input
                type="text"
                class="form-control"
                id="role"
                name="role"
                readonly
                value="{{ user.role }}"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
