<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <h3 class="py-2">Info Account</h3>
      <nav
        class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
        id="navbar-vertical"
      >
        <div class="navbar-nav w-100" style="height: max-content">
          <a href="" class="nav-item nav-link">Update</a>
          <a href="" class="nav-item nav-link">Orders</a>
          <a href="" class="nav-item nav-link">Logout</a>
        </div>
      </nav>
    </div>
    <div class="col-lg-9">
      <div class="mt-2">
        <form class="d-flex align-items-start justify-content-between">
          <div class="w-50">
            <img
              src="https://placehold.co/300x300"
              class="img-thumbnail rounded-circle"
              style="width: 300px; height: 300px; object-fit: cover"
              alt="Avatar"
            />
          </div>
          <div class="w-50">
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                name="fullname"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input
                type="text"
                class="form-control"
                id="role"
                name="role"
                readonly
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
