<div class="main">
  <form
    [formGroup]="formLogin"
    class="form"
    autocomplete="off"
    (ngSubmit)="formSubmit$.next(true)"
  >
    <h3 class="heading">Thành viên đăng nhập</h3>
    <p class="desc">
      Cùng nhau trở thành thành viên của BSmart ngay hôm nay ❤️
    </p>

    <div class="spacer"></div>

    <app-input
      [control]="formLogin.controls.email"
      placeholder="VD: emailtest@gmail.com"
      type="text"
      htmlFor="email"
      label="Email"
    ></app-input>
    <app-input
      [control]="formLogin.controls.password"
      type="password"
      htmlFor="password"
      placeholder="Enter password here"
      label="Password"
    ></app-input>

    <button
      type="submit"
      [disabled]="formLogin.invalid || formLogin.status === 'PENDING'"
      class="form-submit"
    >
      Đăng nhập
    </button>
    <div class="spacer actions actions--custom">
      <a routerLink="../register">Đăng ký ngay</a>
      <a routerLink="../recovery">Khôi phục tài khoản</a>
      <a routerLink="../forgot">Quên mật khẩu?</a>
    </div>
    <a routerLink="/">
      <div class="back-to-home">
        <i class="fa fa-home"></i>
      </div>
    </a>
  </form>
</div>
