<nav
  class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
  id="navbar-vertical"
>
  <div class="navbar-nav w-100" style="height: max-content">
    <a
      routerLink="/account/update"
      routerLinkActive="active"
      class="nav-item nav-link"
      >Update</a
    >
    <a
      routerLink="/account/orders"
      routerLinkActive="active"
      class="nav-item nav-link"
      >Orders</a
    >
    <div
      style="cursor: pointer"
      (click)="handleLogout()"
      class="nav-item nav-link"
    >
      Logout
    </div>
  </div>
</nav>
