<!-- Modal -->
<div
  [ngClass]="['modal', 'fade', large ? 'modal-xl' : '']"
  [id]="modalId"
  tabindex="-1"
  aria-labelledby="removeItemLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeItemLabel">{{ title }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          [hidden]="!showButton"
          (click)="onClick()"
          class="btn btn-primary"
        >
          {{ textButton }}
        </button>
      </div>
    </div>
  </div>
</div>
