<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang mã giảm giá</h1>
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#createCouponModal"
        >
          Tạo mới
        </button>
      </div>

      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Tìm kiếm..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-striped" id="table-product">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên mã</th>
            <th scope="col">Giá trị (%)</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="coupons$ | async as coupons">
          <tr *ngFor="let item of coupons">
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#editCouponModal"
                (click)="handleEditCoupon(item._id)"
              >
                Chỉnh sửa
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#removeCouponModal"
                (click)="handleRemoveCoupon(item._id)"
              >
                Xoá
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-admin-common>

<app-modal
  [modalId]="'createCouponModal'"
  [showButton]="false"
  [title]="'Add coupon'"
>
  <form [formGroup]="formCoupon" (ngSubmit)="formSubmitSubject$.next(true)">
    <app-input
      [htmlFor]="'name'"
      [label]="'Name'"
      [control]="formCoupon.controls.name"
    ></app-input>
    <app-input
      [htmlFor]="'value'"
      [label]="'Value (%)'"
      [control]="formCoupon.controls.value"
    ></app-input>
    <app-input
      [htmlFor]="'expire'"
      [label]="'Time expire'"
      [control]="formCoupon.controls.expireIns"
      [type]="'date'"
    ></app-input>
    <button
      [disabled]="formCoupon.invalid || formCoupon.status === 'PENDING'"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</app-modal>

<app-modal
  [modalId]="'editCouponModal'"
  [showButton]="false"
  [title]="'Edit coupon'"
  [isEdit]="true"
>
  <form [formGroup]="formCouponEdit" (ngSubmit)="submitFormEdit()">
    <app-input
      [htmlFor]="'name'"
      [label]="'Name'"
      [control]="formCouponEdit.controls.name"
    ></app-input>
    <app-input
      [htmlFor]="'value'"
      [label]="'Value (%)'"
      [control]="formCouponEdit.controls.value"
    ></app-input>
    <app-input
      [htmlFor]="'expire'"
      [label]="'Time expire'"
      [control]="formCouponEdit.controls.expireIns"
      [type]="'date'"
    ></app-input>
    <button
      [disabled]="formCouponEdit.invalid || formCouponEdit.status === 'PENDING'"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</app-modal>

<app-modal
  #removeCoupon
  [modalId]="'removeCouponModal'"
  [title]="'Remove coupon'"
>
  <p>Bạn muốn xoá mã giảm giá này?</p>
</app-modal>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
