<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <h3 class="py-2">Info Account</h3>
      <app-account-sidebar></app-account-sidebar>
    </div>
    <div class="col-lg-9">
      <div class="mt-2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Fullname</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="orders$ | async as orders">
            <ng-container *ngIf="orders.length > 0; else noOrder">
              <tr *ngFor="let item of orders">
                <td>{{ item.fullname }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.address }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#viewDetailOrder"
                    (click)="handleViewOrder(item._id)"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    [disabled]="item.status !== 1"
                    data-bs-toggle="modal"
                    data-bs-target="#cancelOrderModal"
                    (click)="handleCancelOrder(item._id)"
                    class="btn btn-danger btn-sm ml-1"
                  >
                    {{ showTextButton(item.status) }}
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #noOrder>
  <tr>
    <td colspan="6">No order!</td>
  </tr>
</ng-template>

<app-modal
  [modalId]="'viewDetailOrder'"
  [large]="true"
  [showButton]="false"
  [title]="'Chi tiết đơn hàng'"
>
  <ng-container *ngIf="order$ | async as order">
    <div class="modal-info">
      <ul class="row">
        <li class="col col-lg-6 col-md-4 col-sm-1">
          Họ và tên: {{ order.fullname }}
        </li>
        <li class="col col-lg-6 col-md-4 col-sm-1">Email: {{ order.email }}</li>
        <li class="col col-lg-6 col-md-4 col-sm-1">
          Số điện thoại: {{ order.phone }}
        </li>
        <li class="col col-lg-6 col-md-4 col-sm-1">
          Trạng thái: {{ getStatusOrder(order.status) }}
        </li>
        <li class="col col-lg-6 col-md-4 col-sm-1">
          Địa chỉ: {{ order.address }}
        </li>
      </ul>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Thành tiền</th>
        </tr>
      </thead>
      <tbody *ngIf="orderDetail$ as details">
        <tr *ngFor="let item of details; index as i">
          <td>{{ i + 1 }}</td>
          <td *ngIf="isProduct(item.productID)">{{ item.productID.name }}</td>
          <td *ngIf="isProduct(item.productID)">
            <img
              src="{{ item.productID.thumb.fileName }}"
              alt="{{ item.name }}"
              height="80"
            />
          </td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price | currency : "VND" }}</td>
          <td>{{ item.quantity * item.price | currency : "VND" }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            Tổng giá trị: {{ order.total | currency : "VND" }}
          </td>
          <td colspan="3">
            Ngày đặt hàng: {{ order.createdAt | date : "dd/MM/yyyy" }}
          </td>
        </tr>
      </tfoot>
    </table>
  </ng-container>
</app-modal>

<app-modal
  #cancelOrderModal
  [modalId]="'cancelOrderModal'"
  [title]="'Xác nhận huỷ đơn hàng'"
>
  <p>
    Bạn muốn huỷ đơn hàng này? Huỷ quá 3 lần sẽ bị khoá tài khoản. Vẫn tiếp tục?
  </p>
</app-modal>
