<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a class="text-decoration-none" routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Checkout</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Checkout Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div class="mb-4">
        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
        <form class="row">
          <div class="col-md-6">
            <app-input
              label="Fullname"
              placeholder="VD: Hoang Nguyen Thai Bao"
              type="text"
              htmlFor="fullname"
              [control]="formCheckout.controls.fullname"
              style="width: 49%"
            ></app-input>
          </div>
          <div class="col-md-6">
            <app-input
              label="Email"
              placeholder="VD: emailtest@gmail.com"
              type="text"
              htmlFor="email"
              [control]="formCheckout.controls.email"
              style="width: 49%"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-select-normal
              [htmlFor]="'province'"
              [label]="'Province'"
              [state]="province$"
              [control]="formCheckout.controls.province"
            ></app-select-normal>
          </div>
          <div class="col-md-4">
            <app-input
              label="Address"
              placeholder="VD: District 12, Ho Chi Minh City"
              type="text"
              htmlFor="address"
              [control]="formCheckout.controls.address"
              style="width: 49%"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              label="Phone"
              placeholder="VD: +84 89xx 98xx"
              type="tel"
              htmlFor="phone"
              [control]="formCheckout.controls.phone"
              style="width: 49%"
            ></app-input>
          </div>
          <div class="col-md-12">
            <app-textarea
              [control]="formCheckout.controls.note"
              [htmlFor]="'note'"
              [label]="'Note'"
            ></app-textarea>
          </div>
          <div class="col-md-12">
            <label for="" class="form-label">Payment method</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="payment"
                id="payment-method"
                value="cod"
                checked
              />
              <label class="form-check-label" for="payment-method">
                Ship COD
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="payment"
                id="payment-method-online"
                value="online"
              />
              <label class="form-check-label" for="payment-method-online">
                Online
              </label>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <button [disabled]="formCheckout.invalid" class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Order Total</h4>
        </div>
        <div class="card-body">
          <h5 class="font-weight-medium mb-3">Products</h5>
          <div id="card-info" *ngIf="productList$?.length">
            <div
              class="d-flex justify-content-between"
              *ngFor="let item of productList$"
            >
              <p>{{ item.name }} x {{ item.quantityBuy }}</p>
              <p [appFormat]="item"></p>
            </div>
          </div>
          <hr class="mt-0" />
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">
              {{ subTotal | currency : "VND" }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">
              {{ shipCost | currency : "VND" }}
            </h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">{{ total | currency : "VND" }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout End -->
