<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a class="text-decoration-none" routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Checkout</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Checkout Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div class="mb-4">
        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
        <form class="row" *ngIf="user$ | async as user">
          <div class="col-md-6 form-group">
            <label>Full Name</label>
            <input
              class="form-control"
              type="text"
              placeholder="Hoang Nguyen Thai Bao"
              name="fullname"
              value="{{ user.fullname }}"
            />
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-6 form-group">
            <label>E-mail</label>
            <input
              class="form-control"
              type="text"
              placeholder="example@email.com"
              name="email"
              value="{{ user.email }}"
            />
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-4 form-group">
            <label>Province</label>
            <select
              class="form-control"
              aria-label="Default select example"
              name="province"
              id="province"
            >
              <option value="">Select one province</option>
            </select>
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-4 form-group">
            <label>District</label>
            <select
              class="form-control"
              aria-label="Default select example"
              name="district"
              id="district"
            >
              <option value="">Select one district</option>
            </select>
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-4 form-group">
            <label>Ward</label>
            <select
              class="form-control"
              aria-label="Default select example"
              name="ward"
              id="ward"
            >
              <option value="">Select one ward</option>
            </select>
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-6 form-group">
            <label>Address</label>
            <input
              class="form-control"
              type="text"
              placeholder="123 Street"
              name="address"
            />
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-6 form-group">
            <label>Phone</label>
            <input
              class="form-control"
              type="tel"
              placeholder="+84 89 456 789"
              name="phone"
              value="{{ user.phone }}"
            />
            <span class="invalid-feedback"></span>
          </div>
          <div class="col-md-12 form-group">
            <label for="note">Note</label>
            <textarea
              class="form-control w-100"
              placeholder="Leave a note here"
              id="note"
              name="note"
            ></textarea>
          </div>
          <div class="col-md-12 form-group">
            <label for="" class="form-label">Payment method</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="payment"
                id="payment-method"
                value="cod"
                checked
              />
              <label class="form-check-label" for="payment-method">
                Ship COD
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="payment"
                id="payment-method-online"
                value="online"
              />
              <label class="form-check-label" for="payment-method-online">
                Online
              </label>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Order Total</h4>
        </div>
        <div class="card-body">
          <h5 class="font-weight-medium mb-3">Products</h5>
          <div id="card-info">
            <div class="d-flex justify-content-between"></div>
          </div>
          <hr class="mt-0" />
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium" id="subtotal">$0</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium" id="shipping">$0</h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold" id="total">$0</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout End -->
