<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang tài khoản</h1>
        <button
          class="btn btn-info"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#createUserModal"
        >
          Tạo mới
        </button>
      </div>
      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Tìm kiếm..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <p>
      <a routerLink="/admin/user/trash" routerLinkActive="active"
        >Tài khoản bị khoá
      </a>
    </p>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-striped" id="table-product">
        <thead>
          <tr>
            <th scope="col">Tên tài khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users$ | async">
            <td>{{ item.username }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#editUserModal"
                (click)="handleEditUser(item._id)"
              >
                Chỉnh sửa
              </button>
              <button
                class="btn btn-danger btn-sm"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#removeUserModal"
                (click)="handleSoftDeleteUser(item._id)"
                [hidden]="item.role === 'Admin'"
              >
                Xoá
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-admin-common>

<app-modal
  [modalId]="'createUserModal'"
  [showButton]="false"
  [large]="true"
  [title]="'Thêm tài khoản'"
>
  <form
    class="row"
    enctype="multipart/form-data"
    novalidate
    [formGroup]="formUser"
    (ngSubmit)="formUserSubject.next(true)"
  >
    <div class="col col-lg-4">
      <div class="mb-3">
        <label for="image" class="form-label">Hình ảnh</label>
        <div class="input-group mb-3 w-100">
          <input
            class="form-control w-100"
            type="file"
            id="image"
            accept="image/*"
            (change)="onUploadImage($event)"
            accept="image/*"
          />
          <span class="invalid-feedback"></span>
        </div>
        <img
          src="https://placehold.co/300x300"
          class="img-thumbnail w-100 rounded-left rounded-right d-block object-fit-cover"
          style="height: 250px"
          id="imageUrl"
          alt="Avatar"
        />
      </div>
    </div>
    <main class="col col-lg-8">
      <div class="d-flex" style="gap: 0 10px">
        <div class="w-50">
          <app-input
            label="Fullname"
            placeholder="VD: Hoang Nguyen Thai Bao"
            type="text"
            htmlFor="fullname"
            [control]="formUser.controls.fullname"
            style="width: 49%"
          ></app-input>
        </div>
        <div class="w-50">
          <app-input
            label="Email"
            placeholder="VD: emailtest@gmail.com"
            type="text"
            htmlFor="email"
            [control]="formUser.controls.email"
            style="width: 49%"
          ></app-input>
        </div>
      </div>
      <div class="d-flex" style="gap: 0 10px">
        <div class="w-50">
          <app-input
            label="Phone"
            placeholder="VD: +84 89xx 98xx"
            type="tel"
            htmlFor="phone"
            [control]="formUser.controls.phone"
            style="width: 49%"
          ></app-input>
        </div>
        <div class="w-50">
          <app-input
            label="Username"
            placeholder="VD: baohnt"
            type="text"
            htmlFor="username"
            [control]="formUser.controls.username"
            style="width: 49%"
          ></app-input>
        </div>
      </div>
      <div class="d-flex">
        <div class="w-100 mb-3">
          <label for="role" class="form-label">Vai trò</label>
          <select class="form-control" id="role" formControlName="role">
            <option value="">--Select one--</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
          <ng-container
            *ngIf="
              formUser.get('role')?.errors && formUser.get('role')?.touched
            "
          >
            <span
              class="text-danger"
              *ngIf="formUser.hasError('required', 'role')"
            >
              Please select one role for account
            </span>
          </ng-container>
        </div>
      </div>
      <button
        [disabled]="formUser.invalid || formUser.status === 'PENDING'"
        type="submit"
        class="btn btn-primary"
      >
        Cập nhật
      </button>
    </main>
  </form>
</app-modal>

<app-modal
  [modalId]="'editUserModal'"
  [showButton]="false"
  [isEdit]="true"
  [large]="true"
  [title]="'Sửa tài khoản'"
>
  <form
    class="row"
    enctype="multipart/form-data"
    novalidate
    [formGroup]="formUserEdit"
    (ngSubmit)="formUserSubjectEdit.next(true)"
  >
    <div class="col col-lg-4">
      <div class="mb-3">
        <label for="image" class="form-label">Hình ảnh</label>
        <div class="input-group mb-3 w-100">
          <input
            class="form-control w-100"
            type="file"
            id="imageEdit"
            accept="image/*"
            (change)="onUploadImage($event, true)"
          />
        </div>
        <img
          src="https://placehold.co/300x300"
          class="img-thumbnail w-100 rounded-left rounded-right d-block object-fit-cover"
          style="height: 250px"
          id="imageUrlEdit"
          alt="Avatar"
          accept="image/*"
        />
      </div>
    </div>
    <main class="col col-lg-8">
      <div class="d-flex" style="gap: 0 10px">
        <div class="w-50">
          <app-input
            label="Fullname"
            placeholder="VD: Hoang Nguyen Thai Bao"
            type="text"
            htmlFor="fullname"
            [control]="formUserEdit.controls.fullname"
            style="width: 49%"
          ></app-input>
        </div>
        <div class="w-50">
          <app-input
            label="Email"
            placeholder="VD: emailtest@gmail.com"
            type="text"
            htmlFor="email"
            [control]="formUserEdit.controls.email"
            style="width: 49%"
          ></app-input>
        </div>
      </div>
      <div class="d-flex" style="gap: 0 10px">
        <div class="w-50">
          <app-input
            label="Phone"
            placeholder="VD: +84 89xx 98xx"
            type="tel"
            htmlFor="phone"
            [control]="formUserEdit.controls.phone"
            style="width: 49%"
          ></app-input>
        </div>
        <div class="w-50">
          <app-input
            label="Username"
            placeholder="VD: baohnt"
            type="text"
            htmlFor="username"
            [control]="formUserEdit.controls.username"
            style="width: 49%"
          ></app-input>
        </div>
      </div>
      <div class="d-flex">
        <div class="w-100 mb-3">
          <label for="role" class="form-label">Vai trò</label>
          <select class="form-control" id="role" formControlName="role">
            <option value="">--Select one--</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
          <ng-container
            *ngIf="
              formUserEdit.get('role')?.errors &&
              formUserEdit.get('role')?.touched
            "
          >
            <span
              class="text-danger"
              *ngIf="formUserEdit.hasError('required', 'role')"
            >
              Please select one role for account
            </span>
          </ng-container>
        </div>
      </div>
      <button
        [disabled]="formUserEdit.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Cập nhật
      </button>
    </main>
  </form>
</app-modal>

<app-modal
  #unactiveModal
  [modalId]="'removeUserModal'"
  [title]="'Unactive modal'"
>
  <p>Bạn muốn ngừng hoạt động tài khoản này?</p>
</app-modal>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
