<ng-container *ngIf="isAdmin; else admin">
  <app-header *ngIf="isAuth"></app-header>
  <app-common *ngIf="isAuth">
    <ng-container *ngIf="isRoot">
      <app-banner></app-banner>
    </ng-container>
  </app-common>
  <router-outlet></router-outlet>
  <app-footer *ngIf="isAuth"></app-footer>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</ng-container>

<ng-template #admin style="display: flex">
  <div id="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <router-outlet></router-outlet>
  </div>
</ng-template>
