<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang sản phẩm</h1>
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#createProductModal"
        >
          Tạo mới
        </button>
      </div>
      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-bordered" id="table-product">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Sale (%)</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products$ | async">
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td [appFormat]="item"></td>
            <td>{{ item.discount }}%</td>
            <td>{{ item.quantity }}</td>
            <td>
              <img
                src="{{ item.thumb.fileName }}"
                alt="{{ item.name }}"
                height="80"
              />
            </td>
            <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-admin-common>

<app-modal [modalId]="'createProductModal'" [large]="true">
  <form class="row" novalidate enctype="multipart/form-data">
    <div class="mb-3 col-lg-4">
      <label for="file" class="form-label">Hình ảnh</label>
      <input
        class="form-control mb-3"
        style="height: 45px"
        type="file"
        id="file"
        name="thumb"
      />
      <img
        src="https://placehold.co/350x350"
        alt=""
        class="rounded-right rounded-top w-100 d-block"
        style="object-fit: cover; height: 380px"
        id="imageUrl"
      />
    </div>
    <div id="main" class="col-lg-8">
      <div class="d-flex align-items-center" style="gap: 0 10px">
        <div class="mb-3 w-50">
          <label for="name" class="form-label">Tên sản phẩm</label>
          <input type="text" class="form-control" id="name" name="name" />
          <span class="invalid-feedback"></span>
        </div>
        <div class="mb-3 w-50">
          <label for="code" class="form-label">Mã sản phẩm</label>
          <input type="text" class="form-control" id="code" name="code" />
          <span class="invalid-feedback"></span>
        </div>
      </div>
      <div class="d-flex align-items-center" style="gap: 0 10px">
        <div class="mb-3" style="width: calc(100% / 3)">
          <label for="price" class="form-label">Giá tiền</label>
          <input type="number" class="form-control" id="price" name="price" />
          <span class="invalid-feedback"></span>
        </div>
        <div class="mb-3" style="width: calc(100% / 3)">
          <label for="discount" class="form-label">Sale (%)</label>
          <input
            type="number"
            class="form-control"
            id="discount"
            name="discount"
          />
          <span class="invalid-feedback"></span>
        </div>
        <div class="mb-3" style="width: calc(100% / 3)">
          <label for="quantity" class="form-label">Số lượng</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
          />
          <span class="invalid-feedback"></span>
        </div>
      </div>
      <div class="mb-3">
        <label for="categoryID" class="form-label">Danh mục</label>
        <select class="form-control" id="categoryID" name="categoryID"></select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Nội dung</label>
        <textarea name="content" id="content" class="form-control"></textarea>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary d-inline-block w-50 mx-auto rounded-lg"
    >
      Cập nhật
    </button>
  </form>
</app-modal>
