<app-admin-common>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-inline-flex">
        <h1 class="h3 mb-0 text-gray-800 mr-3">Trang sản phẩm</h1>
        <button
          type="button"
          (click)="createProduct()"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#createProductModal"
        >
          Tạo mới
        </button>
      </div>
      <form
        class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-gradient-light text-dark border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
            id="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Content Row -->
    <div class="row pl-3">
      <table class="table table-bordered" id="table-product">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Sale (%)</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Ngày cập nhật</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="products$ | async as products">
          <tr
            *ngFor="
              let item of products
                | paginate : { itemsPerPage, currentPage: page }
            "
          >
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td [appFormat]="item"></td>
            <td>{{ item.discount }}%</td>
            <td>{{ item.quantity }}</td>
            <td>
              <img
                src="{{ item.thumb.fileName }}"
                alt="{{ item.name }}"
                height="80"
              />
            </td>
            <td>{{ item.updatedAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</app-admin-common>

<app-modal [modalId]="'createProductModal'" [large]="true">
  <form
    class="row"
    novalidate
    enctype="multipart/form-data"
    [formGroup]="formProduct"
    (ngSubmit)="formSubmitSubject$.next(true)"
  >
    <div class="col-lg-4">
      <label for="file" class="form-label">Hình ảnh</label>
      <input
        class="form-control mb-3"
        type="file"
        id="file"
        name="thumb"
        (change)="onImagePicked($event)"
      />
      <img
        src="https://placehold.co/350x350"
        alt=""
        class="rounded-right rounded-top w-100 d-block"
        style="object-fit: cover; height: 420px"
        id="imageUrl"
      />
    </div>
    <div id="main" class="col-lg-8">
      <div class="d-flex align-items-center" style="gap: 0 10px">
        <div class="w-50">
          <app-input
            [placeholder]="'Enter name here...'"
            [htmlFor]="'name'"
            [label]="'Name'"
            [control]="formProduct.controls.name"
          ></app-input>
        </div>
        <div class="w-50">
          <app-input
            [placeholder]="'Enter code here...'"
            [htmlFor]="'code'"
            [label]="'Product code'"
            [control]="formProduct.controls.code"
          ></app-input>
        </div>
      </div>
      <div class="d-flex align-items-center" style="gap: 0 10px">
        <div style="width: calc(100% / 3)">
          <app-input
            [placeholder]="'Enter price here...'"
            [htmlFor]="'price'"
            [type]="'number'"
            [label]="'Price'"
            [control]="formProduct.controls.price"
          ></app-input>
        </div>
        <div style="width: calc(100% / 3)">
          <app-input
            [placeholder]="'Enter discount here...'"
            [htmlFor]="'discount'"
            [type]="'number'"
            [label]="'Discount'"
            [control]="formProduct.controls.discount"
          ></app-input>
        </div>
        <div style="width: calc(100% / 3)">
          <app-input
            [placeholder]="'Enter quantity here...'"
            [htmlFor]="'quantity'"
            [type]="'number'"
            [label]="'Quantity'"
            [control]="formProduct.controls.quantity"
          ></app-input>
        </div>
      </div>
      <app-select
        [htmlFor]="'category'"
        [label]="'Category'"
        [control]="formProduct.controls.categoryID"
        [state]="catalogs$"
      ></app-select>
      <app-textarea
        [htmlFor]="'description'"
        [label]="'Description'"
        [control]="formProduct.controls.description"
      ></app-textarea>
      <app-textarea
        [htmlFor]="'content'"
        [label]="'Content'"
        [control]="formProduct.controls.content"
      ></app-textarea>
    </div>
    <button
      [disabled]="formProduct.invalid || formProduct.status === 'PENDING'"
      type="submit"
      class="btn btn-primary d-inline-block w-50 mx-auto rounded-lg"
    >
      Cập nhật
    </button>
  </form>
</app-modal>
