<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    routerLink="/admin"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">baoDeV <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseTwo"
      aria-expanded="false"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-list"></i>
      <span>Danh mục</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item"
          [routerLink]="['admin', 'category']"
          routerLinkActive="active"
          >Danh sách</a
        >
        <a
          class="collapse-item"
          [routerLink]="['admin', 'create']"
          routerLinkActive="active"
          >Thêm mới</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseCoupon"
      aria-expanded="false"
      aria-controls="collapseCoupon"
    >
      <i class="fas fa-fw fa-donate"></i>
      <span>Mã giảm giá</span>
    </a>
    <div
      id="collapseCoupon"
      class="collapse"
      aria-labelledby="headingCoupon"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['products', 'list']"
          >Danh sách</a
        >
        <a class="collapse-item" [routerLink]="['products', 'create']"
          >Thêm mới</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseUtilities"
      aria-expanded="false"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-shopping-bag"></i>
      <span>Sản phẩm</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item"
          [routerLink]="['admin', 'products']"
          routerLinkActive="active"
          >Danh sách</a
        >
        <a
          class="collapse-item"
          [routerLink]="['products', 'create']"
          routerLinkActive="active"
          >Thêm mới</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapsePages"
      aria-expanded="false"
      aria-controls="collapsePages"
    >
      <i class="fas fa-fw fa-sort"></i>
      <span>Đơn hàng</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="get">Danh sách</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseUsers"
      aria-expanded="false"
      aria-controls="collapseUsers"
    >
      <i class="fas fa-fw fa-user"></i>
      <span>Tài khoản</span>
    </a>
    <div
      id="collapseUsers"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item"
          [routerLink]="['admin', 'user']"
          routerLinkActive="active"
          >Danh sách</a
        >
        <a
          class="collapse-item"
          [routerLink]="['admin', 'user', 'create']"
          routerLinkActive="active"
          >Thêm mới</a
        >
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
